In [3]:
import pandas as pd

In [5]:
df = pd.read_json('./WEEK8/strava_simplified.json')

In [6]:
df.describe()

,resource_state,distance,moving_time,elapsed_time,total_elevation_gain,workout_type,id,utc_offset,location_city,location_state,...,photo_count,gear_id,average_speed,max_speed,elev_high,elev_low,upload_id,upload_id_str,pr_count,total_photo_count
count,5.0,5.000000,5.000000,5.000000,5.000000,5.0,5.000000e+00,5.0,0.0,0.0,...,5.0,0.0,5.000000,5.000000,3.000000,3.000000,3.000000e+00,3.000000e+00,5.000000,5.0
mean,2.0,7349.860000,1332.200000,1698.800000,22.260000,10.0,7.980403e+09,10800.0,NaN,NaN,...,0.0,NaN,5.563600,6.529200,50.800000,32.500000,8.537287e+09,8.537287e+09,0.200000,0.0
std,0.0,528.554461,163.484556,618.279629,21.299366,0.0,4.118764e+06,0.0,NaN,NaN,...,0.0,NaN,0.576329,6.054136,2.251666,1.385641,4.867796e+06,4.867796e+06,0.447214,0.0
min,2.0,6937.300000,1188.000000,1200.000000,0.000000,10.0,7.975610e+09,10800.0,NaN,NaN,...,0.0,NaN,4.667000,0.000000,49.500000,30.900000,8.532908e+09,8.532908e+09,0.000000,0.0
25%,2.0,7000.000000,1200.000000,1345.000000,0.000000,10.0,7.977341e+09,10800.0,NaN,NaN,...,0.0,NaN,5.343000,0.000000,49.500000,32.100000,8.534666e+09,8.534666e+09,0.000000,0.0
50%,2.0,7000.000000,1255.000000,1500.000000,27.700000,10.0,7.980450e+09,10800.0,NaN,NaN,...,0.0,NaN,5.833000,9.794000,49.500000,33.300000,8.536424e+09,8.536424e+09,0.000000,0.0
75%,2.0,7701.200000,1500.000000,1694.000000,37.900000,10.0,7.982721e+09,10800.0,NaN,NaN,...,0.0,NaN,5.839000,10.257000,51.450000,33.300000,8.539476e+09,8.539476e+09,0.000000,0.0
max,2.0,8110.800000,1518.000000,2755.000000,45.700000,10.0,7.985892e+09,10800.0,NaN,NaN,...,0.0,NaN,6.136000,12.595000,53.400000,33.300000,8.542528e+09,8.542528e+09,1.000000,0.0

In [7]:
df.columns

Index(['resource_state', 'athlete', 'name', 'distance', 'moving_time',
       'elapsed_time', 'total_elevation_gain', 'type', 'sport_type',
       'workout_type', 'id', 'start_date', 'start_date_local', 'timezone',
       'utc_offset', 'location_city', 'location_state', 'location_country',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'map', 'trainer', 'commute', 'manual', 'private',
       'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng',
       'average_speed', 'max_speed', 'has_heartrate', 'heartrate_opt_out',
       'display_hide_heartrate_option', 'elev_high', 'elev_low', 'upload_id',
       'upload_id_str', 'external_id', 'from_accepted_tag', 'pr_count',
       'total_photo_count', 'has_kudoed'],
      dtype='object')

In [8]:
distance = df['distance']

In [9]:
distance

0    8110.8
1    7000.0
2    6937.3
3    7701.2
4    7000.0
Name: distance, dtype: float64

In [10]:
df

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,workout_type,...,display_hide_heartrate_option,elev_high,elev_low,upload_id,upload_id_str,external_id,from_accepted_tag,pr_count,total_photo_count,has_kudoed
0,2,"{'id': 17111048, 'resource_state': 1}",Morning Ride,8110.8,1518,2755,45.7,Ride,Ride,10,...,False,53.4,33.3,8.542528e+09,8.542528e+09,ae6df643-21f6-4f32-8aa9-667d84efe25e-activity.fit,False,0,0,False
1,2,"{'id': 17111048, 'resource_state': 1}",From the office,7000.0,1200,1200,0.0,Ride,Ride,10,...,False,NaN,NaN,NaN,NaN,None,False,0,0,False
2,2,"{'id': 17111048, 'resource_state': 1}",Morning Ride,6937.3,1188,1345,27.7,Ride,Ride,10,...,False,49.5,33.3,8.536424e+09,8.536424e+09,7d5d18e3-219b-4595-9cf1-3d59b7333269-activity.fit,False,0,0,False
3,2,"{'id': 17111048, 'resource_state': 1}",Afternoon Ride,7701.2,1255,1694,37.9,Ride,Ride,10,...,False,49.5,30.9,8.532908e+09,8.532908e+09,25c7bc55-a0a2-46e1-bc8d-a9fdd6f986a0-activity.fit,False,1,0,False
4,2,"{'id': 17111048, 'resource_state': 1}",To the office,7000.0,1500,1500,0.0,Ride,Ride,10,...,False,NaN,NaN,NaN,NaN,None,False,0,0,False